.InteractionWindow {
    background-color: #373f51;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    height: 100%;
    width: 40%;
    border-radius: 5px;
}

.Center {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -10%);
}