.InteractionWindow {
    position: fixed;
    height: 20%;
    width: 100%;
    text-align: center;
}

.Center {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -10%);
}