.Polaroid {
    display: flex;
    justify-content: center;
}

.Polaroid img{
    background: white;
    margin: 50px auto;
    padding: 10px 10px 45px;
    -webkit-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
}

.Row div:nth-child(even){
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);
}

.Row div:nth-child(odd){
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.Polaroid img:hover {
    -webkit-transform: scale(1.5); 
    -moz-transform: scale(1.5);
        transform: scale(1.5);
    z-index:10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}